@use "./variaveis" as *;
@use "./mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  height: 100vh;

  h1 {
    @include aplicar_font($font-principal, 2rem, 600, $cor-cinco);
    margin-top: 1rem;
    text-align: center;
  }

  .main__texto {
    @include aplicar_font($font-principal, 1rem, 400, $cor-cinco);
    margin-top: 1rem;
    text-align: center;
  }

  .cartao {
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $cor-cinco;
    border-radius: 0.5rem;
    padding: 1rem;
    max-height: 100vh;
    gap: 1.5rem;
    height: 25vh;

    .cartao__texto {
      @extend .main__texto;
      color: $cor-um;
      text-align: center;
    }

    img {
      max-width: 2.5rem;
      margin-top: 1rem;
      position: absolute;
      z-index: 1;
      top: -2rem;
    }

    .buttons {
      margin: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%;

      button {
        @include aplicar_font($font-principal, 0.9rem, 400, #000000);
        background-color: $cor-quatro;
        border-radius: 0.5rem;
        padding: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $cor-um;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
