@use "./variaveis" as *;
@use "./mixins" as *;

.menu {
  position: relative;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .menu__botao-usuario {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 2.5rem;
    cursor: pointer;

    p {
      display: none;
    }
  }

  .logout {
    @include aplicar_font($font-principal, 1rem, 400, $cor-fonte);
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 80%;
    // top: 100%;
    left: 4%;
    // right: 10%;
    background-size: contain;
    gap: 0.5rem;
    background-color: $bg-color;
    padding: 1rem;
    border-radius: 0 1rem 1rem 1rem;
    // border-radius: 1rem 0 1rem 1rem;
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    img {
      width: 1.2rem;
      height: auto;
    }
  }
}

.menu__botao-img {
  width: 1.5rem;
  height: auto;
}

.menu__botao {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__lista {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 1rem 1rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0.5rem 0.5rem 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  background-color: $bg-color;

  .menu__lista-item {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      max-width: 2.5rem;
      margin-top: 1rem;
    }

    p {
      @include aplicar_font($font-principal, 0.9, 400, $cor-fonte);
      display: none;
    }
  }

  li {
    gap: 0.5rem;
    text-align: center;
  }
}

.menu__lista.ativo {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
