$font-principal: "Poppins", sans-serif;
$font-secundaria: "Raleway", sans-serif;
$font-cormoro: "Cormorant Upright", serif;
$cor-primaria: #c3fed5;
$cor-secundaria: #dffeea;
$cor_terciaria: #faffff;
$cor-fonte-primaria: #eafff1;

$bg-color: #91bc9e;

$cor-fonte: #000000;
$cor-tres: #e6df9d;
$cor-quatro: #999468;
$cor-seis: #55523a;

$gradiente_fundo: linear-gradient(
  180deg,
  $cor-primaria,
  $cor-secundaria,
  $cor_terciaria
);
