$font-principal: "Poppins", sans-serif;
$font-secundaria: "Raleway", sans-serif;
$font-cormoro: "Cormorant Upright", serif;
$cor-primaria: #efdcc9;
$cor-secundaria: #806d59;
$cor_terciaria: #faffff;
$cor-fonte-primaria: #806d59;

$bg-color: #bca792;

$cor-fonte: #000000;

$gradiente_fundo: linear-gradient(180deg, $cor-primaria, $cor-secundaria);
