*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #ddd696, #bbb57f, #777351);
}

.menu {
  position: relative;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.menu .menu__botao-inicio {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 2.5rem;
}
.menu .menu__botao-inicio p {
  display: none;
}

.menu__botao {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__lista {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 1rem 1rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0.5rem 0.5rem 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  background-color: #999468;
}
.menu__lista .menu__lista-item {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.menu__lista .menu__lista-item img {
  max-width: 2.5rem;
  margin-top: 1rem;
}
.menu__lista .menu__lista-item p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9;
  font-weight: 400;
  color: #777351;
  display: none;
}
.menu__lista li {
  gap: 0.5rem;
  text-align: center;
}

.menu__lista.ativo {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  height: 100vh;
}
.main h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #777351;
  margin-top: 1rem;
  text-align: center;
}
.main .main__texto, .main .cartao .cartao__texto {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #777351;
  margin-top: 1rem;
  text-align: center;
}
.main .cartao {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #777351;
  border-radius: 0.5rem;
  padding: 1rem;
  max-height: 100vh;
  gap: 1.5rem;
  height: 25vh;
}
.main .cartao .bookmark {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}
.main .cartao .cartao__texto {
  color: #ddd696;
  text-align: center;
}
.main .cartao img {
  max-width: 2.5rem;
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
  top: -2rem;
}
.main .cartao .buttons {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}
.main .cartao .buttons button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
  background-color: #999468;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background-color 0.3s ease;
}
.main .cartao .buttons button:hover {
  background-color: #ddd696;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=styles.css.map */