@use "./variaveis" as *;
@use "./mixins" as *;

.button__back {
  list-style: none;
  text-decoration: none;
  @include aplicar_font($font-cormoro, 1rem, 500, $cor-fonte);
  transition: all 0.3s ease-in-out;
  opacity: 0.5;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

.body__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100vw; /* Adicionando largura 100% da tela para garantir que o layout ocupe toda a tela */
}
.div__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $cor-terciaria;
  justify-content: space-around;
  padding: 1rem;
  width: 80%; /* A largura padrão será 80% */
  height: auto;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0.7rem rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out; /* Transição suave para a largura */
}

.login__titulo {
  font-size: 3rem;
  @include aplicar_font($font-cormoro, 3rem, 500, $cor-fonte);
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;

  input {
    padding: 0.5rem;
    transition: all 0.3s ease;
    border: 0.5px solid $cor-primaria;

    &:hover {
      border: 0.5px solid $cor-primaria;
      border-radius: 0.5rem;
    }

    &:focus {
      outline: none;
      border: 0.5px solid $cor-primaria;
      border-radius: 0.5rem;
    }

    &::-webkit-input-placeholder {
      @include aplicar_font($font-cormoro, 1rem, 500, $cor-fonte);
      opacity: 0.5;
    }

    &::placeholder {
      @include aplicar_font($font-cormoro, 1rem, 500, $cor-fonte);
      opacity: 0.5;
    }
  }
}

.button {
  @include aplicar_font($font-cormoro, 1rem, 500, $cor-fonte);
  background-color: $cor-primaria;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $bg-color;
    border-radius: 0.5rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem;
  transition: all 1s ease-in-out;

  .button__forget {
    @include aplicar_font($font-cormoro, 1rem, 500, $cor-fonte);
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes tremor {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.aviso__login {
  @include aplicar_font($font-cormoro, 1rem, 700, red);
  opacity: 1;
  text-align: center;
  display: none;
  animation: tremor 0.5s ease-in-out 1;
}

.aviso {
  @include aplicar_font($font-cormoro, 1rem, 700, $cor-secundaria);
  opacity: 1;
  text-align: center;
  margin: 1rem;
}

.senha__invalida {
  @include aplicar_font($font-cormoro, 1rem, 700, red);
  opacity: 1;
  text-align: center;
  animation: tremor 0.5s ease-in-out 1;
  margin: 1rem 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .div__login {
    width: 30%;
  }
}
